<div class="container" style="margin: 2% auto 2% auto">
  <h2>Rejestracja</h2>
  <hr>
  <div class="row" style="margin: auto 20% auto 20%">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="firstName">Imie:</label>
          <input
            type="text"
            class="form-control"
            id="firstName" required>
        </div>

        <div class="form-group">
          <label for="lastName">Nazwisko:</label>
          <input
            type="text"
            class="form-control"
            id="lastName" required>
        </div>

        <div class="form-group">
          <label for="identityCardNumber">Numer dowodu:</label>
          <input
            type="text"
            class="form-control"
            id="identityCardNumber"
            maxlength="10"  required>
        </div>

        <div class="form-group">
          <label for="routeType">Rodzaj trasy:</label>
          <select class="form-control" id="routeType" name="routeType" required>
            <!--OPTIONS-->
          </select>
        </div>

        <div class="form-group">
          <label for="payment">Płatność:</label>
          <select  class="form-control" id="payment">
            <!--OPTIONS-->
          </select>
        </div>

        <div class="form-group">
          <label for="additionalText">Uwagi:</label>
          <textarea
            class="form-control"
            id="additionalText"
            rows="3"
            name="additionalText">
          </textarea>
        </div>

        <div style="text-align: center">
          <button
            type="submit"
            class="btn btn-success"
            >Dodaj nowego lemura</button>
        </div>
      </form>
    </div>
  </div>
</div>
