<div class="container" style="margin: 2% auto 2% auto">
  <h2>Rejestracja</h2>
  <hr>
  <div class="row" style="margin: auto 20% auto 20%">
    <div class="col">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <label for="firstName">Imie:</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            ngModel
            name="firstName"
            required>
        </div>

        <div class="form-group">
          <label for="lastName">Nazwisko:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            ngModel
            name="lastName"
            required>
        </div>

        <div class="form-group">
          <label for="identityCardNumber">Numer dowodu:</label>
          <input
            type="text"
            class="form-control"
            id="identityCardNumber"
            maxlength="10"
            ngModel
            name="identityCardNumber"
            required>
        </div>

        <div class="form-group">
          <label for="routeType">Rodzaj trasy:</label>
          <select class="form-control"
                  id="routeType"
                  ngModel
                  name="routeType"
                  [ngModel]="defaultRoutes">
            <option *ngFor="let item of enumRoutesValues()" [value]="kindsRoutes[item]">{{item}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="payment">Płatność:</label>
          <select
            class="form-control"
            id="payment"
            [ngModel]="defaultPayment"
            name="payment">
            <option [value]="isPay.pay">Zapłacono</option>
            <option [value]="isPay.notPay">Nie zapłacono</option>
          </select>
        </div>

        <div class="form-group">
          <label for="additionalText">Uwagi:</label>
          <textarea
            class="form-control"
            id="additionalText"
            rows="3"
            ngModel
            name="additionalText"
            ></textarea>
        </div>

        <div style="text-align: center">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!form.valid"
            >Dodaj nowego lemura</button>
        </div>
      </form>
    </div>
  </div>
</div>
